.h1-box{
  background-color: grey;
  padding: 100px;
  
  button{
    transition: 300ms;
    color: blue;
    background-color: white;
    border: none;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;

    &:hover{
      background-color: blue;
      color: white;
    }
  }
}
.h2-box{
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 10;
  color: black;
  font-size: 40px;
  
}

.about{
  display: flex;
  justify-content: center;
  align-items: center;

  button{
    position: absolute;
    top: 100px;
    right: 100px;

  }
  
}

.overlay{
position: absolute;
inset: 0;
height: 100%;
z-index: 2;
/* sick way of linear gradient have to work with that more*/
background: linear-gradient(
  to bottom, 
  rgba(0, 0, 0, 0.8), 
  rgba(0, 0, 0, 0.8)47%, 
  transparent, 
  transparent 47%, 
  transparent, 
  transparent 55%, 
  rgba(0, 0, 0, 0.8) 50%, 
  rgba(0, 0, 0, 0.8) 

);
}

.slider-container{
position: relative;

font-size: 20px;
height: 250px;
overflow: hidden;
}

.words{
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}